.Title {
    text-align: center;
    color: blue;
}

.About.me {
    float: left;
    position: fixed;
    align-items: center;
    text-indent: 1%;
    text-align: center;
    color: red;

    min-height: 100%;
    width: 20%;
    top: 0%;
    left: 0%;
    background: rgb(179, 176, 127);
    }

.Pessoal {
    position: relative;
    text-align: center;
    color: black;
}

.Social.media {
    /*4 prox linhas Centralizam os itens */
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: blue;
}

.Content{
    margin-left: 20%;    
}

.Projects {
    /* position: static; */
    align-items: center;
    text-align: center;
    color: gray;

}